body {
    margin: 0;
}

.topContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    min-height: 700px;
    background-color: #F5FCFF;
}

.topTextSection {
    margin-top: 0px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.helloText{
    font-size: 20px;
}
.skillsSpan{
    font-size: 25px;
}
.greenSpan{
    color: #0292B1;
}
.topImage{
    width: 70%;
}

.landingFirstSection{
    height: 1000px;
}
.landingSecondSection{
    height: 1000px;
    background-color: #F5FCFF;
}
.landingThirdSection{
    height: 1000px;
}

@media (max-width: 804px) {
    .topTextSection {
        margin-top: 100px; /* Adjust the margin as needed */
    }
    .topImage{
        width: 50%;
    }
}