body {
    margin: 0;
    overflow-x: hidden;
}

/* Top section Content */
.topContent {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: #F5FCFF;
}
.topTextSection {
    margin-top: 0px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    width: calc(50% - 85px);
    min-width: 500px;
    margin-left: 85px;
}

.helloText{
    font-size: 20px;
    color: #484848;
    margin-bottom: 16px;
}
.topMainText{
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 16px;
}
.topSkills{
    font-size: 25px;
    color: #484848;
}
.greenSpan{
    color: #0292B1;
}
.topImage{
    width: 500px;
    margin-left: 50px;
}

/* Second section: Skills and technical overview */
.skillsSections{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 80px 85px;
}
.largeTitle{
    font-size: 50px;
    margin-top: 25px;
}
.skillCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 35px;
}

/* Third Section: About Me */
.aboutSection{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 100px 85px;
}

.aboutData{
    flex-wrap: wrap-reverse;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.aboutText{
    margin-top: 35px;
    margin-right: 85px;
    width: calc(50% - 85px);
}
.aboutMainText{
    padding-top: 20px;
    font-weight: 400;
    line-height: 25px;
}
.mattImage{
   padding-top: 25px;
    width:550px;
    margin: auto;
}

.footer{
    height: 200px;
    background-color: #F5FCFF;;
}

/* TOP SECTION BREAK POINT */
@media (max-width: 1334px) {
    .topContent{
        flex-direction: column;
        height: fit-content;
    }
    .topTextSection {
        text-align: center;
        margin: auto;
        padding-top: 130px;
        width: 80%;
    }
    .topImage{
        margin-top: 40px;
        margin-bottom: 40px;
        width:35%;
        margin-right: 32px;
    }
}
@media (max-width: 1000px) {
    .topTextSection {
        margin: auto;
        padding-top: 130px;
        min-width: 0px;
        font-size: 25px;
    }
    .topSkills{
        font-size: 20px;
    }
    .topMainText{
        line-height: 50px;
    }
    .largeTitle{
        font-size: 40px;
    }
}
@media (max-width: 525px) {
    .topTextSection {
        margin: auto;
        padding-top: 130px;
        min-width: 0px;
        font-size: 20px;
    }
    .topSkills{
        font-size: 20px;
    }
    .topMainText{
        line-height: 40px;
    }
    .largeTitle{
        font-size: 30px;
    }
}

@media (max-width: 1269px) {
    .aboutData{
        flex-direction: column;
    }
    .aboutText{
        width: 100%;
        margin: auto;
    }
    .mattImage{
        order:1;
        width: 600px;
    }
}

@media(max-width:820px){
    .mattImage{
        width: 80%;
    }
}

@media (max-width:600px){
    .skillsSection{
        padding:32px 32px;
    }
    .largeTitle{
        font-size: 30px;
    }
    .aboutSection{
        padding:32px 32px;
    }
}