.skillCard{
    height: auto;
    width: 320px;
    background-color: #f0f8fc;
    margin: 8px;
    border-bottom: 0.2rem solid #0292B1;
    border-radius: 10px;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: large;
}

.skillCard p{
    font-size: 16px;
}

.skillCard img{
    height: 60px;
    width: 60px;
}

.skillCard h3{
    margin-top: 0px;
    margin-bottom: 10PX;
}

@media (max-width:499px){
    .skillCard{
        width:100%;
    }
}